//variables

@import './color-variables';

$enable-negative-margins: true;
$modal-content-bg: $primary;
$modal-backdrop-opacity: .7;

//gap

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";

$gap6: (
    6: $spacer * 6,
);

$spacers: map-merge($spacers , $gap6);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 70px;
}

p {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
    text-align: justify;
}

a {
    font-family: 'Josefin Sans', sans-serif !important;
}

.App {
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

section {
    scroll-behavior: smooth;
    scroll-snap-align: start;
    overflow-x: hidden;
}

#profile-img-frame {
    background-image: url('../../public/profile-img.jpg');
    background-size: auto 94%;
    background-position: center;

    img {
        height: 60vh;
    }
}

#nav {
    z-index: 1000;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
