//variables

@import './color-variables';

$enable-negative-margins: true;

//gap

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";

$gap6: (
    6: $spacer * 6,
);

$spacers: map-merge($spacers , $gap6);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 70px;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

.App {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section {
    scroll-behavior: smooth;
    scroll-snap-align: start;
    overflow: hidden;
}

.projects-title-end {
    left: 91px;
    width: calc(70px * 1.2);
    
    span {
        width: 100%;
        height: 4vh;
    }

    img {
        width: 100%;
    }
}
