//variables
$primary: #272727;
$secondary: #E7CA63;

$enable-negative-margins: true;

//gap

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";

$gap6: (
    6: $spacer * 6,
);

$spacers: map-merge($spacers , $gap6);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 70px;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Vollkorn', serif;
}

#header-text {
    margin-left: 18.5% !important;
}

.main-title {
    transform: translateX(-50%) rotate(-6deg);
    width: 110vw;
    left: 50%;
}

.App {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section {
    scroll-behavior: smooth;
    scroll-snap-align: start;
    overflow: hidden;
}

.contact-icon {
    transform: rotate(45deg);
    width: 140px;
    height: 140px;
    transition-duration: 0.5s;

    &:hover {
        background-color: $secondary;
        color: $primary !important;
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

.title-line {
    height: 16px;
}

#projects-container {
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    div {
        height: 50%;
        scroll-snap-align: start;

        button {
            height: 90%;
            overflow: hidden;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.projects-title {
    transform: translate(-30%, calc(-50%)) rotate(-90deg);
    position: absolute;
    width: 100vh;
    top: 50%;
}

.title-divs {
    max-height: 50px;
}

.section-title-end {
    top: 0;
    left: 91px;
    width: calc(70px * 1.2);
    
    span {
        width: 100%;
        height: 4vh;
    }

    img {
        width: 100%;
    }
}
