@import './color-variables';

.contactIcon {
    transform: rotate(45deg);
    width: 140px;
    height: 140px;
    transition-duration: 0.5s;

    &:hover {
        background-color: $secondary;
        color: $primary !important;
        transform: rotate(45deg) translate(-10px, -10px);
    }
}