@import './color-variables';

.diamondIcon {
    transform: rotate(45deg);
    transition-duration: 0.5s;

    &:hover {
        background-color: $secondary;
        color: $primary !important;
    }
    
    &.animated:hover {
        transform: rotate(45deg) translate(-10px, -10px);
    }
}