@import "./color-variables";

.wrapper {
    padding: 3.1%;

    .diamondIcon {
        transform: rotate(45deg);
        transition-duration: 0.5s;
        aspect-ratio: 1/1;

        &:hover,
        &.active {
            background-color: $secondary;
            color: $primary !important;
        }

        &.animated:hover {
            transform: rotate(42deg) translate(-10px, -10px);
        }
    }
}
