@import './color-variables';

#container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    div {
        height: 50%;
        scroll-snap-align: start;

        div {
            height: 90%;
            overflow: hidden;
            
            & > div {
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                left: 0;
                transition: linear 0.2s;
            }

            &:hover > div{
                opacity: 1;
            }

            img {
                opacity: 1;
                transition: linear 0.2s;
            }
            
            &:hover > img{
                opacity: 0.1;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.projectInfo {

    & > div {
        height: 90%;
    }

    .projectDescription {
        font-size: 20px;
    }

    .projectTechnologies {
        color: $secondary;
    }
}

.modal {
    max-width: fit-content !important;
    overflow: hidden;

    img {
        max-height: 55vh;
    }

    p{
        width: 30vw;
    }
}