@import './color-variables';

#container {
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    div {
        height: 50%;
        scroll-snap-align: start;

        button {
            height: 90%;
            overflow: hidden;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.projectTitle {
    max-height: 50px;
}

.modal {
    max-width: fit-content !important;
    overflow: hidden;

    img {
        max-height: 55vh;
    }

    p{
        width: 30vw;
    }
}