@import './color-variables';

#mainTitle {
    transform: translateX(-50%) rotate(-6deg);
    margin-left: 50%;
    width: 110vw;

    #topText {
        font-size: 1.7vw;
    }
}

#headerText {
    font-size: 2vw;
    margin-left: 18.5% !important;
}

.titleLine {
    height: 1.3vw;
}

#projectsTitle {
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 150vh;
    left: 140px;
    height: calc(70px * 1.2);
    z-index: 10;

    div {
        width: 100vh;
    }
}