@import './color-variables';

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";

#mainTitle {
    transform: translateX(-50%) rotate(-6deg);
    margin-left: 50%;
    width: 110%;

    #topText {
        p {
            font-size: clamp(8px, 1.7vw, 25px);
        }
        margin-left: 17.9%;
    }
}

.titleLine {
    height: min(1.3vw, 20px);
}

#projectsTitle {
    
    @include media-breakpoint-up(md) {
        transform: translate(-50%, -50%) rotate(-90deg);
        top: 150vh;
        left: 10vw;

        div {
            width: 100vh !important;
        }
    }

    height: 6.3vw;
    z-index: 10;

    div {
        width: 100vw;
    }
}