@import './color-variables';

#mainTitle {
    transform: translateX(-50%) rotate(-6deg);
    width: 110vw;
    left: 50%;
}

#headerText {
    margin-left: 18.5% !important;
}

.titleLine {
    height: 16px;
}

#projectsTitle {
    transform: translateY(-50%) rotate(-90deg);
    top: 150vh;
    left: -18%;
    height: calc(70px * 1.2);
    z-index: 10;

    div {
        width: 100vh;
    }
}